SerienTracker/XML Schemas/Episode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<!-- Dieses Schema definiert die Informationen einer Episode und die Zuordnung zur Serie und Staffel
	http://trakt.tv/api-docs/user-profile-->


<!-- Privat angelegte Liste eines Users -->
<xs:element name="episode">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="episode_title"/>
      <xs:element ref="episode_overview"/>
      <xs:element ref="episode_airdate"/>
      <xs:element ref="episode_picture"/>
    </xs:sequence>
  
    <xs:attribute ref="episode_id" use="required"/>
    <xs:attribute ref="serie_id" use="required"/>
    <xs:attribute ref="season_number" use="required"/>
    
  </xs:complexType>
  
</xs:element>


<!-- Besitzer? Zwecks Änderungsrechte -->
<xs:attribute name="episode_id" type="xs:ID"/>
<xs:attribute name="season_number" type="xs:ID"/>
<xs:attribute name="serie_id" type="xs:ID"/>


<!-- globale Serie_id Zuordnung -->


<!-- Episodenname  -->
<xs:element name="episode_title" type="xs:string"/>

<!-- Privacy der Liste  -->
<xs:element name="episode_overview" type="xs:string"/>

<!-- airdate  -->
<xs:element name="episode_airdate" type="xs:date"/>

<!-- Privacy der Liste  -->
<xs:element name="episode_picture" type="xs:anyURI"/>


<!-- hinzufügen attribute für seen/unseen check, mit verbindung zur List -->

</xs:schema>