SerienTracker/XML Schemas/Seasons.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Dieses Schema dient der Zuordnung von Staffeln zu einer bestimmten Serie -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Sammlung aller Staffel -->
	<xs:element name="seasons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="seasonID" maxOccurs="40"/>
			</xs:sequence>

			<xs:attribute ref="serieID" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- globale seasonID Zuordnung -->
	<xs:element name="seasonID" type="xs:positiveInteger"/>

	<!-- globale serieID Zuordnung -->
	<xs:attribute name="serieID" type="xs:positiveInteger"/>

</xs:schema>
